@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Shadows+Into+Light&display=swap");

body {
  font-family: "Indie Flower", normal;
  font-size: 40px;

  background-image: url("./gradient.jpg");
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

input {
  margin: 50px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
  border-bottom-color: rgb(12, 12, 12, 0.3);
  width: 700px;
  font-size: 30px;
  outline: none;
}
label {
  font-weight: 900;
  color: black;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.heading {
  display: block;
  text-decoration: underline;
  font-size: 60px;
  text-shadow: 0 0 3px #ff0000, 0 0 5px black;
  letter-spacing: 5px;

  padding: 10px;
  border-radius: 60px;
}

.err {
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  color: red;
  text-shadow: 0 0 5px black, 0 0 3px red;
  background: #000000;
  border-radius: 5px;
  letter-spacing: 2px;
}

input::placeholder {
  font-family: "Amatic SC", cursive;
  color: #000000;
  font-weight: bold;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .heading {
    font-size: 40px;
  }
  .app-container,
  .body-container {
    display: block;
    font-size: 30px;
  }
}
