@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Shadows+Into+Light&display=swap");

body {
  font-family: "Indie Flower", normal;
  font-size: 40px;
  background-color: #f6d327;
  background-image: url("./gradient.jpg");
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

input {
  margin: 50px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
  border-bottom-color: rgb(12, 12, 12);
  width: 700px;
  font-size: 30px;
  outline: none;
}
label {
  font-weight: 900;
  color: white;
}

.heading {
  display: block;
  text-decoration: underline;
  font-size: 60px;
}

.err {
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
}

input::placeholder {
  font-family: "Amatic SC", cursive;
  color: #000000;
  font-weight: bold;
}
